/* body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main {
    background-color: #F7F7F7;
}

/* header */
header {
    margin-top: 10px;
}

.logo_and_back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_header {
    display: flex;
    justify-content: center;
    width: 80%;
}

#logo {
    margin: 10px;
    width: 45%;
}

.fa-arrow-left::before {
    color: #353535;
    font-size: 22px;
}

/* image restaurant */
span img {
    height: 215px;
    width: 100%;
    object-fit: cover;
}

/* section */
.menus {
    background-color: #F7F7F7;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    bottom: 30px;
}

.name_restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

/* icone coeur */
.fa-heart {
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
}

/* survol du coeur */
.fa-heart:hover {
    background: linear-gradient(to bottom, #9356DC, #FF79CD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* pas de survol coeur */
.fa-heart:not(:hover) {
    font-weight: 100;
    color: black;
}

/* titres */
h1 {
    font-family: 'Shrikhand';
    margin: 0;
    margin-left: 10px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
}

h3 {
    font-size: 15px;
}

/* composition des menus */
.border_list {
    border-bottom: solid #99E2D0;
    width: 10%;
    margin-left: 10px;
}

/* plats */
.card {
    display: flex;
    border: solid #F7F7F7;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 5px;
    height: 70px;
    cursor: pointer;
   
}
.entrees {
    animation: appear 1s  forwards;
} 

.plats {
    animation: appear 1.5s both ;
}

.desserts {
    animation: appear 2s  both;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.description_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.description_menu h3,
p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description_menu p {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price_menu {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-weight: bold;
}

.price_value {
    padding-bottom: 10px;
    padding-right: 15px;
}

.logo_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    color: white;
    opacity: 0;
    overflow: hidden;
    /* cacher le contenu par défaut */
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 20px;
}

/* animation du menu */
.card:hover .logo_menu {
    /*  passage de la souris sur .price_menu */
    animation: price-check 750ms;
    animation-fill-mode: both;
}

.card:not(:hover) .logo_menu {
    /* lorsqu'on enlève la souris*/
    animation: price-check-return 750ms both
}

@keyframes price-check {

    /* déplacer contenu vers la gauche */
    0% {
        transform: translateX(0px);
        width: 0px;
    }

    1%,
    100% {
        opacity: 1;
    }

    17% {
        transform: translateX(.18px);
    }

    24% {
        transform: translateX(.4px);
    }

    46% {
        transform: translateX(.81px);
    }

    100% {
        transform: translateX(1px);
        width: 60px;
    }
}

@keyframes price-check-return {

    /* replacer contenu vers la droite */
    0% {
        transform: translateX(1px);
        width: 60px;
    }

    1%,
    99% {
        opacity: 1;
    }

    17% {
        transform: translateX(.81px);
    }

    24% {
        transform: translateX(.4px);
    }

    46% {
        transform: translateX(.18px);
    }

    100% {
        transform: translateX(0px);
        width: 0px;
    }
}

/* button */
button {
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(190deg, #9356DC, #FF79DA);
    color: white;
    display: flex;
    align-items: center;
    width: 50%;
    height: 40px;
    justify-content: center;
}

button:hover {
    opacity: 0.8;
    transition: 0.5s;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
}

.btn_commander {
    display: flex;
    justify-content: center;
}

/* footer */
footer {
    background-color: #353535;
    padding: 20px;
}

footer h3 {
    font-family: 'Shrikhand', cursive;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
}

footer p {
    color: #FFFFFF;
    padding-bottom: 5px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

/* icons footer */
.fa-utensils {
    margin-right: 10px;
}

.fa-handshake-angle {
    margin-right: 5px;
}

.footer_icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.fa-solid {
    color: #F7F7F7;
}

/* responsive pour tablette */
@media screen and (min-width: 769px) {

    main {
        background-color: #FFFFFF;
    }

    #logo {
        width: 200px;
        margin: 25px;
    }

    .fa-arrow-left::before {
        position: absolute;
        left: 25px;
        top: 40px
    }

    span img {
        height: 400px;
    }

    section {
        margin: 0px 50px;
    }


    .menus {
        padding: 20px 50px;

    }

    .name_restaurant {
        justify-content: center;
        margin: 20px;
        gap: 20px;
    }

    .border_list {
        margin-bottom: 10px;
        width: 5%;
    }

    button {
        width: 150px;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-right: 30px;
    }

    .content_footer {
        display: flex;
        padding-right: 30px;
        align-items: center;
    }

    footer p {
        margin-right: 10px;
    }


}

/* reponsive pour pc */
@media screen and (min-width: 1024px) {
    .menus {
        padding: 20px 150px;
    }

    section {
        margin: 0 150px;
    }
}

/* responsive pour pc large */
@media screen and (min-width: 1440px) {
    .menus {
        padding: 20px 200px;
    }
}